body{
	font-family: Verdana;
}
header{
	text-align: center;
	
}
.navbar{
	background-color:#2c3e50;
	
}
header h1{
	color: #404040;
	text-align: left;
	font-family: "Arial Black";
	margin-left: 1%;
}
header small{
	color: #404040;
	font-family: "Arial Black";
}

h3 a{
	color:#2c3e50;
}

nav a{
	margin-top: 1%;
}



.fincio{
	padding-top: 1%;
	padding-bottom: 1%;

	background-color:#2c3e50;
	color:white;
	
}
footer{
	
	background-color:#2c3e50;
	color:white;
}



.columimg{
	margin-top: 2%;
}

.main-content-index{
	
}
.textoImg{
	text-align: center;
}
.textoDWES{
	text-align: center;
	color: #2c3e50;
}
.img:hover
{
transform: scale(1.2, 1.2);
}
.pru{
	transform: rotateX(360deg);
}
