body{
    margin: 0 auto;
    margin-left: 15%;
}
#contenedor{
    font-family: arial;
    width: 1000px;
}

header p{
    color:  #EDEDED;
}

/*Css para la cabecera*/
header{
    overflow: auto;
    background:linear-gradient(#E238DD,#F48DE8 ) ;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 4px 0 4px #D6D6D6;
    
}


nav ul li {
    display: inline;
    margin-right: 2px;
    float: right;      
}

#noActivo{
    
    background: linear-gradient(to left,#E238DD,#F48DE8,#E238DD);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    color: white;
}

nav ul li a{
    text-decoration: none;
    color: #E238DD;
}

#activo{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px; 
    background: linear-gradient(to left,#4663F4,#AED2E5,#4663F4);
    color: white;
}
#left{
  
    float: left;
    width: 220px;
    
}
/*CSS AREA DE USUARIO*/

#areaUser{
    
    margin-left: 15px;
}

#areaUser input{
    display: block;
    margin-left: 12px;
    
}

#areaUser h3{
    font-size: 15px;
    
    background-color: #D350ED;
    padding: 8px;
    padding-right:20px;
    padding-left: 5px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    box-shadow: 4px 4px 4px #AFB1BC;
   
}

#areaUser label{
    margin-left: 12px;
}

#areaUser a{
    margin-left: 12px;
    color: #E238DD;
    text-decoration: none;
}

#udTrabajo{

    margin-left: 15px;
}

#udTrabajo h3{
    font-size: 15px; 
    background-color: #D350ED;
    padding: 8px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    box-shadow: 4px 4px 4px #AFB1BC;
    
    
   
}

#udTrabajo dt{
    margin-left: 15px;
    margin-top: 15px;
}

#udTrabajo dd{
    margin-left: 0px;
    margin-left: 15px;
   

}
#udTrabajo dd a{
    color: #E238DD;
    text-decoration: none;
}





#derecha{
    float: right;
    width: 180px;
    padding-left: 20px;
}
.imCentro{
    margin-left: 30px
}

#right h3{
    font-size: 15px; 
     background-color: #D350ED;
    padding: 8px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    box-shadow: 4px 4px 4px #AFB1BC;
}

#right a{
    color: #E238DD;
    font-weight: bold;
}

#right ul li{
    color: #E238DD;
}

#centro{
    width: 480px;
    margin-left: 250px;
  
    padding-left: 20px;
}

.italica{
    font-style: italic;
}

#hojaEstilo a{
    color: #E238DD;
}



#bienvenido a{
    color: #E238DD;
    font-weight: bold;
}

.peque{
    font-weight: normal;
}

#bienvenido h3{
    font-size: 15px; 
    background-color: #D350ED;
    padding: 8px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    box-shadow: 4px 4px 4px #AFB1BC;
}

.fecha{
    float: right;
}

#hojaEstilo h3{
    font-size: 15px; 
    background-color: #D350ED;
    padding: 8px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    box-shadow: 4px 4px 4px #AFB1BC;
}

footer{
    border-left: solid;
    border-top: solid;
    border-right: solid;
    border-color: #E238DD;
    border-radius: 15px 15px 0px 0px;
    padding: 20px;  
}

footer a{
    color: #E238DD;
}

#articulos{
    border-left: solid ;
    border-top: solid;
    border-right: solid;
    border-color: white;
    border-radius: 15px 15px 0px 0px;
    
    
}

#otros{
    
     border-left: solid;
    border-top: solid;
    border-right: solid;
    border-color: white;
    border-radius: 15px 15px 0px 0px;
}

.logoAlumn{
     background-image: url("../img/rellenoLogo.png");
     background-color: lightgrey;
    font-size: 5em;
    color:#E238DD;
    margin-left: 20px;
}

.logoFP{
    background-image: url("../img/rellenoLogo.png");
     background-color: lightgrey;
    font-size: 5em;
    color:#E238DD;
    margin-left: 20px;
    float:left; 
     margin: 0 auto;
    margin-right: 20px;
   
}

